!!! 1.1
%html
	%head
		%title ShortUrl
		%link{:rel => 'stylesheet', :href => 'http://fonts.googleapis.com/css?family=Happy+Monkey', :type => 'text/css'}
		%link{:rel => 'stylesheet', :href => '/stylesheet/estilos.css', :type => 'text/css'}
	%body
		.container
			%h1 ShortUrl
			= yield